# dependencies
/node_modules

# next.js
/.next/
/.open-next/
/.wrangler/
/out/

# production
/build
/dist/
/.sites/

# tests
/playwright-report/
/test-results/
/coverage/

# local environment files
.env*
!.env.example

# vercel
.vercel

# misc
.DS_Store
*.pem
*.log

# typescript
*.tsbuildinfo
next-env.d.ts
